<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/animals">Back to the book list page</a>
    </nav>

    <form method="POST" action="/animals/<%=animal._id%>?_method=PUT"> 
        <input type="text" name="specie" value="<%=animal.specie %>"/>
        <br/>
        <input type="text" name="name" value="<%=animal.name %>"/>
        <br/>
        <input type="checkbox" name="completed"  <%= animal.completed ? "checked" : "" %>/>
        <br/>
        <input type="submit" value="save edits" />
    </form>
    
</body>
</html>